.component {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: opacity var(--uk-sys-motion-duration-150) var(--uk-sys-motion-easing-standard-decelerate);
  opacity: 1;
}

.text {
  transition: height var(--uk-sys-motion-duration-500) var(--uk-sys-motion-easing-standard-decelerate);
  interpolate-size: allow-keywords;
  height: max-content;
}

.otherProfileSelected {
  opacity: 0.5;

  > .text {
    display: none;
    visibility: hidden;
    height: 0;
  }
}