.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  padding: 20px 24px 32px 24px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.title {
  flex: 1 1 auto;
}

.status {
  margin: 48px auto;
  color: rgb(var(--uk-sys-color-on-surface-variant));
}

.row {
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 64px;
  padding: 4px 8px;
  border-radius: var(--uk-sys-shape-corner-large);

  &:hover {
    background-color: rgb(var(--uk-sys-color-on-surface), var(--uk-sys-state-hover-state-layer-opacity));
  }
}

.text {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.muted {
  color: rgb(var(--uk-sys-color-on-surface-variant));
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dialogButtons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
