.root {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(var(--uk-sys-color-surface-container));
    //border-bottom: 1px solid rgb(var(--uk-sys-color-outline-variant));
    padding: 0.5rem;
    gap: 0.5rem;
}

.segmentContainer {
    background-color: rgb(var(--uk-sys-color-surface));
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--uk-sys-shape-corner-medium);
    width: 100%;
    margin-left: 0.5rem;
}

.segment {
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    position: relative;
    background-color: transparent;
    color: rgb(var(--uk-sys-color-primary));
    user-select: none;
    border-radius: var(--uk-sys-shape-corner-small);
    overflow: hidden;

    &::after {
        transition: background-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal);
        content: "";
        position: absolute;
        background-color: transparent;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &:hover {
        &::after {
            background-color: rgb(var(--uk-sys-color-primary), var(--uk-sys-state-hover-state-layer-opacity));
        }
    }

    &:active {
        &::after {
            background-color: rgb(var(--uk-sys-color-primary), var(--uk-sys-state-pressed-state-layer-opacity));
        }
    }
}

.slash {
    font-size: calc(var(--uk-sys-typescale-label-large-size) + 0.25rem);
}

.textField {
    flex-grow: 1;
}
