$bg: rgb(var(--uk-sys-color-background));
$min-size: 50vh;

.view {
  position: relative;
  height: 100%;
  width: 100%;
}

.boxes {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: $min-size * 3;
  touch-action: none;
  background: $bg;
  user-select: none;
  scroll-snap-type: mandatory;
  z-index: 1;
}

.box {
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: $min-size;
  min-width: $min-size;
  display: block;
  cursor: pointer;
  will-change: transform, opacity, z-index;
  transition:
    transform 0.05s linear,
    opacity 0.05s linear;
  z-index: 1;
  perspective: $min-size * 2;
  perspective-origin: bottom;

  &:before {
    content: "";
    position: absolute;
    top: calc(100% - 5rem);
    left: 0;
    height: 100%;
    width: 100%;
    background-image: var(--src);
    background-size: contain;
    transform: rotateX(-120deg) scale(1.25);
    filter: blur(1rem) brightness(0.25);
    z-index: 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: calc(100% - 5rem);
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient($bg 50%, transparent);
    transform: rotateX(-120deg) scale(1.5);
    z-index: 1;
  }

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    object-fit: contain;
    image-rendering: pixelated;
  }

  .label {
    position: absolute;
    bottom: calc(100% + 0.25rem);
    left: 0;
    color: #fff;
  }
}

@keyframes action {
  0%,
  25%,
  50%,
  100% {
    transform: translate(0, 0);
  }
  12.5%,
  37.5% {
    transform: translate(0, 25%);
  }
}

.controls {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
