.root {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16rem);
    grid-template-rows: repeat(auto-fit, 8rem);
    gap: 0.5rem;
    padding: 1rem;
    width: 100%;
    height: max-content;
    max-height: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &:has(> .errorMessage) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.errorMessage {
    --icon-size: 5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
