.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    animation: fadeIn forwards 0.25s var(--uk-sys-motion-easing-standard-decelerate);

    @keyframes fadeIn {
        from {
            opacity: 0;
            filter: blur(0.25rem);
        }
        to {
            opacity: 1;
            filter: blur(0);
        }
    }
}

.welcomeMessage {
    background: #0004;
    padding: 1.5rem;
    border-radius: var(--uk-sys-shape-corner-medium);
    backdrop-filter: blur(2rem);
}

.widgets {
    width: max-content;
    max-width: calc(100% - 2rem);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 24rem));
    grid-auto-rows: 6rem;
    background: #0004;
    padding: 1rem;
    border-radius: calc(var(--uk-sys-shape-corner-medium) + 1rem);
    backdrop-filter: blur(2rem);
    gap: 1rem;
}
