.root {
  background-color: rgb(var(--uk-sys-color-surface-container-low));
  border-bottom: 1px solid rgb(var(--uk-sys-color-outline-variant));
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}

.actionButtons {
  display: flex;
  gap: 0.5rem;
}

.pathSelector {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.pathSegments {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  z-index: 1;
}

.pathSuggestions {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.pathInput {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0.5;

  &[data-visible="true"] {
    z-index: 2;
  }
}
