.noFiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.root {
  --icon-size: calc(2rem * var(--zoom-percentage, 1));
  --item-height: calc(calc(var(--icon-size) + 1rem) * var(--zoom-percentage, 1));
  --col-spacing: 0.5rem;

  // display: grid;
  // grid-template-columns: 1fr;
  // grid-auto-rows: var(--item-size);
  padding: 0.5rem;
  border-spacing: 0;
  user-select: none;
  max-width: 100%;
  width: 72rem;
  table-layout: fixed;
}

.columns {
  > th {
    // display: flex;
    // justify-content: space-between;
    // padding-bottom: 1rem
    // flex-direction: row;
    // gap: 5rem;
    padding-left: var(--col-spacing);
    padding-right: var(--col-spacing);
    padding-bottom: 0.25rem;

    &:first-child {
      padding-left: 0;
      padding-right: 0;
      width: calc(calc(var(--col-spacing) * 2) + var(--icon-size));
    }
  }
}

.item {
  // color: var(--uk-sys-color-on-surface);
  // text-align: start;
  // background: transparent;
  // display: flex;
  // flex-direction: row;
  // gap: 0.5rem;
  // align-items: center;
  // justify-content: start;
  // border: none;
  position: relative;
  animation: forwards fadeItemIn 150ms var(--uk-sys-motion-easing-standard-decelerate);

  > td {
    padding-left: var(--col-spacing);
    padding-right: var(--col-spacing);
    height: var(--item-height);
    box-sizing: border-box;
    vertical-align: middle;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 0.5rem;
    pointer-events: none;
  }

  &.itemHidden {
    opacity: 0.6;
    animation: forwards fadeHiddenItemIn 200ms var(--uk-sys-motion-easing-standard-decelerate);
  }

  &:nth-child(even) {
    > td {
      background: rgb(var(--uk-sys-color-surface-container-highest));
    }
  }

  &[data-selected="true"] {
    &::after {
      background: rgb(var(--uk-sys-color-primary), 0.25);
    }
  }

  > td:first-child {
    padding-left: 0.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
  }

  > td:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .itemThumbnail {
    height: var(--icon-size, 24px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .itemIcon {
    display: block;
  }
}

@keyframes fadeItemIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeHiddenItemIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}
