.modal {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: max-content;
  min-width: min(20rem, calc(100% - 2rem));

  > .stageButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
  }
}

.guidePromptStage {
  &.modal {
    > .continueSegment {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }
}

.guideStage {
  &.modal {
    > .continueSegment {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 0.5rem;
    }
  }
}
