.root {
  --grid-size: 12rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--grid-size));
  grid-auto-rows: var(--grid-size);
  gap: 0.5rem;
  padding: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  .thumbnailIcon {
    --icon-size: 6rem;
  }

  .itemThumbnail {
    height: 128px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }
}
