.component {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem;
    padding: 0.5rem;
}

.item {
    border-radius: var(--uk-sys-shape-corner-medium);
    overflow: hidden;
    position: relative;
    cursor: pointer;

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    &:hover {
        > img {
            transform: scale(1.1);
        }
    }
}
