.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.itemView {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.dragSelectRegion {
  pointer-events: none;
  background: rgb(var(--uk-sys-color-primary), 0.5);
  border: 1px solid rgb(var(--uk-sys-color-primary), 0.25);
  position: fixed;
  border-radius: var(--uk-sys-shape-corner-small);
}