.modal {
    min-width: min(32rem, calc(100% - 2rem));
}

.continueSegment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}
