.root {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: calc(100% - 2rem);
    max-width: 64rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bar {
    --bar-height: 2rem;

    display: flex;
    background: #000;
    height: var(--bar-height);
    margin-bottom: calc(var(--uk-sys-typescale-label-medium-line-height) + 1rem);
    width: 100%;
}

.barSegment {
    position: relative;
    min-width: 2ch;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: gray;
        height: var(--bar-height);
        width: 100%;
    }

    &:last-of-type {
        &::before {
            border-top-right-radius: var(--uk-sys-shape-corner-extra-small);
            border-bottom-right-radius: var(--uk-sys-shape-corner-extra-small);
        }
    }

    &:first-of-type {
        &::before {
            border-top-left-radius: var(--uk-sys-shape-corner-extra-small);
            border-bottom-left-radius: var(--uk-sys-shape-corner-extra-small);
        }
    }

    &:not(:last-of-type) {
        border-right: 1px solid rgb(var(--uk-sys-color-outline));
    }
}

.barLabel {
    position: absolute;
    left: 0;
    top: var(--bar-height);
    color: white;
    text-overflow: ellipsis;
    margin: 0.5rem;
    max-width: 100%;
    overflow: hidden;
}
