.root {
  background-color: rgb(var(--uk-sys-color-surface-container-low));
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem;
  padding-left: 0.5rem;
  border-top: 1px solid rgb(var(--uk-sys-color-outline-variant));
}

.progressBar {
  max-width: 12rem;
}

.margin {
  margin-right: auto;
}

.taskStatus {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  text-wrap: nowrap;
  flex-shrink: 0;
  width: max-content;
  opacity: 0;
  transition: opacity 200ms var(--uk-sys-motion-easing-standard-accelerate);

  &.visible {
    opacity: 1;
  }
}

.divider {
  height: 1rem !important;
}

.sizeControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
