.noFiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.root {
  --item-size: 2rem;
  --col-spacing: 0.5rem;

  // display: grid;
  // grid-template-columns: 1fr;
  // grid-auto-rows: var(--item-size);
  padding: 0.5rem;
  border-spacing: 0;
  user-select: none;
  width: 100%;
}

.columns {
  > th {
    // display: flex;
    // justify-content: space-between;
    // padding-bottom: 1rem
    // flex-direction: row;
    // gap: 5rem;
    padding-left: var(--col-spacing);
    padding-right: var(--col-spacing);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    &:first-child {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.item {
  // color: var(--uk-sys-color-on-surface);
  // text-align: start;
  // background: transparent;
  // display: flex;
  // flex-direction: row;
  // gap: 0.5rem;
  // align-items: center;
  // justify-content: start;
  // border: none;
  position: relative;

  > td {
    height: var(--item-size);
    padding-left: var(--col-spacing);
    padding-right: var(--col-spacing);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 0.5rem;
  }

  &:nth-child(even) {
    > td {
      background: rgb(var(--uk-sys-color-surface-container-highest));
    }
  }

  &[data-selected="true"] {
    &::after {
      background: rgb(var(--uk-sys-color-primary), 0.25);
    }
  }

  > td:first-child {
    --icon-size: 1.5rem;
    padding-left: calc(calc(var(--item-size) - var(--icon-size)) / 2);
    border-radius: 0.5rem 0 0 0.5rem;
  }

  > td:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
