.root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 512px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.confirmButton {
    margin-left: auto;
}
