.shortcutGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.shortcut {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shortcutIcon {
  --icon-size: 2rem;
}

.shortcutImage {
  width: 2rem;
  height: 2rem;
}

.dialogDivider {
  margin-bottom: 0.5rem;
}

.spinner {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
