.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toggleContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &.enabled {
    margin-bottom: -1rem;
    padding-bottom: 0rem;
  }
}
