.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.bars {
  display: flex;
  gap: 0.25rem;
}

.bar {
  flex: 1;
  height: 0.25rem;
  border-radius: var(--uk-sys-shape-corner-full);
  background-color: rgb(var(--uk-sys-color-outline-variant));
  transition: background-color var(--uk-sys-motion-duration-200) var(--uk-sys-motion-easing-standard-normal);

  &[data-state="done"] {
    background-color: rgb(var(--uk-sys-color-primary));
  }

  &[data-state="current"] {
    background-color: rgb(var(--uk-sys-color-primary), 0.5);
  }
}

.label {
  color: rgb(var(--uk-sys-color-on-surface-variant));
}
