.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  max-width: 60rem;
  padding: 2rem 1rem 6rem;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.profilesGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

.heading {
  font-weight: 800;
  color: rgb(var(--uk-sys-color-on-surface));
}

.switchToStandardView {
  position: absolute !important;
  bottom: 1rem;
  right: 1rem;
}
