.twoFactorStage {
    > .skipButton {
        margin-left: auto;
        margin-right: auto;
    }
}

.qr {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.singleButtonGroup {
    display: flex;
    justify-content: end;
}
